In [9]:
import pandas as pd

In [14]:
raw_collisions = pd.read_csv('../data/raw/nyc_collisions_sample.csv')
raw_collisions.head()

,CRASH DATE,CRASH TIME,BOROUGH,ZIP CODE,LATITUDE,LONGITUDE,LOCATION,ON STREET NAME,CROSS STREET NAME,OFF STREET NAME,...,CONTRIBUTING FACTOR VEHICLE 2,CONTRIBUTING FACTOR VEHICLE 3,CONTRIBUTING FACTOR VEHICLE 4,CONTRIBUTING FACTOR VEHICLE 5,COLLISION_ID,VEHICLE TYPE CODE 1,VEHICLE TYPE CODE 2,VEHICLE TYPE CODE 3,VEHICLE TYPE CODE 4,VEHICLE TYPE CODE 5
0,03/08/2022,23:00,NaN,NaN,NaN,NaN,NaN,LINDEN BOULEVARD,SOUTH CONDUIT AVENUE,NaN,...,Unspecified,NaN,NaN,NaN,4508554,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
1,07/24/2021,18:51,MANHATTAN,10026.0,40.802480,-73.954850,"(40.80248, -73.95485)",NaN,NaN,234 WEST 114 STREET,...,Unspecified,Unspecified,NaN,NaN,4444677,Station Wagon/Sport Utility Vehicle,Sedan,Sedan,NaN,NaN
2,01/22/2023,16:16,BROOKLYN,11221.0,40.689420,-73.921970,"(40.68942, -73.92197)",NaN,NaN,1366 BROADWAY,...,Unspecified,Unspecified,NaN,NaN,4601423,Sedan,Station Wagon/Sport Utility Vehicle,Station Wagon/Sport Utility Vehicle,NaN,NaN
3,07/24/2021,21:20,NaN,NaN,40.751526,-73.859184,"(40.751526, -73.859184)",108 STREET,NaN,NaN,...,Unspecified,NaN,NaN,NaN,4441397,E-Bike,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN
4,03/31/2022,9:00,QUEENS,11377.0,40.756298,-73.898930,"(40.756298, -73.89893)",32 AVENUE,68 STREET,NaN,...,NaN,NaN,NaN,NaN,4514997,Station Wagon/Sport Utility Vehicle,NaN,NaN,NaN,NaN